/************ google-fonts link *****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');

/************ common stylesheet started *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,a,span,strong,p{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
}
.container{
    width: 82.563rem;
    height: auto;
    margin: auto;
}
section{
    padding: 4rem 0;
}
/************ header-area stylesheet started *************/
header{
    margin-bottom: 2.375rem;
}
.hero-area{
    width: 100%;
    height: auto;
    border-radius: 1.875rem;
    background-color: #161616;
    color: #fff;
    display: flex;
}
.hero-content {
	width: 50%;
	padding: 4rem;
}
.hero-title{
    font-size: 4.063rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}
.hero-button{
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
    font-weight: 400;
    padding: 1rem 1.563rem 1rem 1.563rem;
    background-color: blue;
    color: #fff;
    border-radius: 0.313rem;
    position: relative;
    z-index: 1;
}
.hero-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff5200;
    border-radius: 0.313rem;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .5s ease-in-out;
}
.hero-button:hover::after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.hero-button span{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 0.625rem;
}
.hero-images {
	width: 50%;
	padding-right: 4rem;
}
.hero-images img {
	width: 32rem;
	height: auto;
	position: relative;
	top: 4.4rem;
}
/************* gellary-section ***********/
.gellary{
    display: flex;
}
.gellary-fixedArea {
	width: 19.5rem;
	height: 19.5rem;
	background-color: #161616;
	color: #fff;
	text-align: center;
	padding: 1.875rem;
	border-radius: 0.625rem;
	margin-right: 1.5rem;
}
.gellary-fixedArea ul{
    list-style: none;
}
.gellary-fixedArea ul li a{
    font-size: 1.25rem;
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding: 1.063rem 2.438rem 1.063rem 2.438rem;
    background-color: #fff;
    color: #161616;
    border-radius: 0.625rem;
    margin-bottom: 1.875rem;
    transition: .5s ease-in-out;
}
.blog{
    background-color: blue !important;
    color: #fff !important;
}
.gellary-fixedArea ul li a:hover{
    background-color: blue;
    color: #fff;
}
/* gellarys */
.gellarys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.gellary-widget{
    width: 19.5rem;
    height: auto;
    border: 1px solid #E8E8E8;
    border-radius: 0.625rem;
}
.gellary-thumbnail img{
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
}
.gellary-details{
    padding: 1.25rem;
}
.gellary-details button{
    font-size: 1rem;
    font-weight: 500;
    color: #161616;
    margin-bottom: 1.25rem;
    border: 0.063rem solid #161616;
    padding: 0.25rem 1rem;
    border-radius: 0.313rem;
    cursor: pointer;
    background-color: inherit;
    outline: none;
}
.gellary-details h3{
    font-size: 1.125rem;
    font-weight: 600;
    color: #161616;
    margin-bottom: 1.25rem;
}
.gellary-info {
	display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #161616B2;
}
.duration-time{
    margin-right: 1.875rem;
}
.duration-time span{
    display: inline-block;
    margin-right: 0.625rem;
}
.comment span{
    display: inline-block;
    margin-right: 0.625rem;
}
/**************** footer-area ****************/
footer{
    background-color: #161616;
    text-align: center;
    padding: 8.125rem 0;
    color: #fff;
}
.footer-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 6.25rem;
}
.footer-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 2rem;
}
.footer-menu li a{
    display: inline-block;
    font-size: 1rem;
    color: #B9B9B9;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1.5rem;
}
.footer-social{
    text-align: center;
}
.footer-social ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.footer-social ul li{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #22213C;
    border-radius: 50%;
    margin: 0 2rem;
    transition: .5s ease-in-out;
}
.footer-social ul li a {
	font-size: 1.3rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}
.footer-social ul li:hover{
    background-color: blue;
}





















/************* responsive stylesheet started *****************/
/***** mobile-device media quary *****/
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .hero-area, .gellary{
        flex-direction: column;
    }
    .hero-content {
        width: 100%;
        text-align: center;
        padding: 2rem;
    }
    .hero-title {
        font-size: 1.375rem;
    }
    .hero-content p {
        font-size: 0.875rem;
    }
    .hero-images {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 2rem;
    }
    .hero-images img {
        width: 100%;
        height: auto;
        position: inherit;
    }
    .gellary-fixedArea {
        background-color: inherit;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .gellary-fixedArea ul li a{
        border: 0.063rem solid #E8E8E8;
    }
    .gellarys {
        grid-template-columns: repeat(1,1fr);
    }
    .gellary-widget {
        width: 100%;
    }
    .gellary-details button {
        font-size: 1.063rem;

    }
    .gellary-info {
        font-size: 1.063rem;
    }
    .footer-menu {
        flex-direction: column;
    }
    .footer-menu li a {
        margin: 1rem 0;
        font-size: 0.875rem;
    }
    .footer-social ul li {
        margin: 0 0.5rem;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }
    .footer-social ul li a {
        font-size: 0.875rem;
    }
}
/******** tablate version responsive **************/
@media only screen and (max-width: 688px) and (min-width: 992px){
    .container{
        width: 100%;
    }
    .hero-content {
        width: 50%;
        padding: 3.938rem 1.5rem 3.938rem 3.625rem;
    }
    .hero-title {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 0.875rem;
        margin-bottom: 1.25rem;
    }
    .hero-images {
        width: 50%;
    }
    .hero-images img {
        width: 27.299rem;
        top: 4.4rem;
        padding-right: 2rem;
    }
    .gellary-fixedArea {
        background-color: inherit;
        width: 100%;
        height: auto;
        padding: inherit;
    }
    .gellary-fixedArea ul {
        display: flex;
    }
    .gellary-fixedArea ul li {
        width: 33%;
        margin-right: 1.375rem;
    }
    .gellary-fixedArea ul li:last-child{
        margin-right: inherit;
    }
    .gellary-fixedArea ul li a {
        border: 0.063rem solid #E8E8E8;
        padding: 1.5rem 1rem 1.5rem 1rem;
    }
    .gellary {
        flex-direction: column;
    }
    .gellarys {
        grid-template-columns: repeat(2,1fr);
    }
    .gellary-widget {
        width: 100%;
    }
    .gellary-widget:last-child {
        display: none;
    }
    .gellary-details h3 {
        font-size: 1.25rem;
    }
    .footer-menu {
        flex-wrap: wrap;
    }
}