/************ google-fonts link *****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');

/************ common stylesheet started *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,a,span,strong,p{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff;
}
.container{
    width: 82.563rem;
    height: auto;
    margin: auto;
}
/************ header-area stylesheet started *************/
.hero-area{
    width: 100%;
    height: auto;
    border-radius: 1.875rem;
    background-color: #161616;
    color: #fff;
    display: flex;
}
.hero-content {
	width: 50%;
	padding: 5.938rem 1.5rem 5.938rem 6.625rem;
}
.hero-title{
    font-size: 4.063rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.hero-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}
.hero-button{
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
    font-weight: 400;
    padding: 1rem 1.563rem 1rem 1.563rem;
    background-color: blue;
    color: #fff;
    border-radius: 0.313rem;
    position: relative;
    z-index: 1;
}
.hero-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff5200;
    border-radius: 0.313rem;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: .5s ease-in-out;
}
.hero-button:hover::after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.hero-button span{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 0.625rem;
}
.hero-images{
    width: 50%;
}
.hero-images img {
	width: 36.313rem;
	height: auto;
	position: relative;
	top: 3.7rem;
}






/************* responsive stylesheet started *****************/
/***** mobile-device media quary *****/
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .hero-area {
        flex-direction: column;
    }
    .hero-content {
        width: 100%;
        text-align: center;
        padding: 2rem;
    }
    .hero-title {
        font-size: 1.375rem;
    }
    .hero-content p {
        font-size: 0.875rem;
    }
    .hero-images {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 2rem;
    }
    .hero-images img {
        width: 100%;
        height: auto;
        position: inherit;
    }
}